{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "debug": true
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "onlyRemoveTypeImports": true
      }
    ],
    "@linaria"
  ],
  "plugins": ["react-hot-loader/babel"]
}
